<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Fruit</title>
</head>
<body>
    <h1>Create a New Fruit!</h1>
    <form action="/fruits" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" />
  
      <label for="isReadyToEat">Ready to Eat?</label>
      <input type="checkbox" name="isReadyToEat" id="isReadyToEat" />
  
      <button type="submit">Add Fruit</button>
    </form>
    <!-- views/fruits/new.ejs -->
    <a href="/fruits">Back to Fruits</a>
    <a href="/">Back to homepage</a> 
  </body>
  
</html>